astroquery ~= 0.4
astropy ~= 4.2
diagrams ~= 0.19
keras ~= 2.4.3
matplotlib ~= 3.3
numpy ~= 1.20
pandas ~= 1.2
psycopg2_binary ~= 2.8
pydot ~= 1.4.2
scikit-learn ~= 0.24
sqlalchemy ~= 1.4
seaborn ~= 0.11