name: Build LaTeX documents

on:
  pull_request:
    branches:
      - main
    paths:
    - 'figures/**'
    - 'paper/**'
    # - 'thesis/**'
  release:
    types:
      - created

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Compile paper document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: paper.tex
          working_directory: paper
          latexmk_use_xelatex: true
          latexmk_shell_escape: true

      - name: Upload paper PDF
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@v2
        with:
          name: Paper.pdf
          path: paper/paper.pdf

      # - name: Compile thesis document
      #   uses: xu-cheng/latex-action@v2
      #   with:
      #     root_file: thesis.tex
      #     working_directory: thesis
      #     latexmk_shell_escape: true

      # - name: Upload thesis PDF
      #   if: ${{ github.event_name == 'pull_request' }}
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: Thesis.pdf
      #     path: thesis/thesis.pdf

      - name: Get release
        if: ${{ github.event_name == 'release' }}
        id: get_release
        uses: bruceadams/get-release@v1.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Publish paper PDF
        if: ${{ github.event_name == 'release' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: paper/paper.pdf
          asset_name: Paper.pdf
          asset_content_type: application/pdf

      # - name: Publish thesis PDF
      #   if: ${{ github.event_name == 'release' }}
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.get_release.outputs.upload_url }}
      #     asset_path: thesis/thesis.pdf
      #     asset_name: Thesis.pdf
      #     asset_content_type: application/pdf
